<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="ThemeBucket">
    <link rel="shortcut icon" href="#" type="image/png">

    <title>Lock Screen</title>

    <link href="/static/common/css/style.css" rel="stylesheet">
    <link href="/static/common/css/style-responsive.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="/static/common/js/html5shiv.js"></script>
    <script src="/static/common/js/respond.min.js"></script>
    <![endif]-->
</head>

<body class="lock-screen">

    <div class="lock-wrapper">
        <div class="panel lock-box text-center">
            <img alt="lock avatar" src="/static/common/images/photos/user1.png">
            <div class="locked">
                <i class="fa fa-lock"></i>
            </div>
            <h1>Jonathan Smith</h1>
            <h1>超级管理员</h1>
            <div class="row">
                <form action="/admin/adminlock" method="post" class="form-inline" role="form">
                    {% module xsrf_form_html() %}
                    <div class="form-group col-md-12 col-sm-12 col-xs-12">
                        <input type="password" name="password" class="form-control lock-input" placeholder="Password">
                        <button type="submit" class="btn btn-lock pull-right">
                            <i class="fa fa-check"></i>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

<!-- Placed js at the end of the document so the pages load faster -->

<!-- Placed js at the end of the document so the pages load faster -->
<script src="/static/common/js/jquery-1.10.2.min.js"></script>
<script src="/static/common/js/bootstrap.min.js"></script>
<script src="/static/common/js/modernizr.min.js"></script>

</body>
</html>
